@charset "utf-8";
html {
}

/* 

ここはメモだよ
複数行でも対応してますよ

body{
    color: #3333333;

}


.site-title{
    font-size: 38px;
    font-weight:hold;
}

*/
html{
    font-size: 62.5%;/* 16px × 62.5% =10px*/
}

body {
    color: #333333;

    font-size: 1.6rem;
}


img {
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

.section-title {
    font-size: 2.4rem;
    font-weight: bold;
}

/*image */

.image{
    position: relative
}

.image p1{
    position: absolute;
    color: white;/
    font-weight: bold;
    font-size: 40px;
    font-family :Hiragino Kaku Gothic Pro;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.image p2{
    position: absolute;
    color: white;/
    font-weight: bold;
    font-size: 32px;
    font-family :Hiragino Kaku Gothic Pro;
    top: 70%;
    left: 45%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding: 0;
}


.image p2{
    position: absolute;
    top: 1;
    left: 1;
}

/*header */

header {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
  }

.header_logo {
    margin-right: auto;
}
  
.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
  
}

.profile__eyecatch{
    margin: 0 0 24px;
    display: inline-block;
    text-align: center;
}

.profile__name{
    margin: 0 0 40px;
    font-size: 2.4rem;
}

.profile__text{
    line-height: 2;
    text-align: justify;
    text-align: inter-deograph;
}



/*about */
.profile-list{
    display: flex; 
    flex-wrap: wrap;
    height: 256pt;
}

.profile-item{
    width: 25%;
    height: 256pt;
}


.text-center profile__eyecatch{
    width: 33.333%;
}
/*COURSE*/

.wrapper{
    max-width: 1140px;
    margin: auto;
}


.course-wrapper{
    width: 560px;
    margin: auto;
}


.carikyuramu-list{
    display: flex;
    flex-wrap: wrap;
}
    
.carikyuramu-item{
    width: 50%;
    background-color: #FAFAFA;
}


.course__title{
    margin: 0 0 40px;
    font-size: 2.4rem;
    font-weight: bold;
}

.course__name{
    margin: 0 0 40px;
    font-size: 2.4rem;
}

.course__text{
    line-height: 2;
    text-align: justify;
    text-align: inter-deograph;
}


.news-list{
    display: flex;
    flex-wrap: wrap;
    }
    
    
    .news-item{
        width: 33.333%;
    }
    

.news-list{
display: flex;
flex-wrap: wrap;
}


.news-item{
    width: 33.333%;
}



.profile{
    padding: 80px 0;
}

.profile__title{
    margin: 0 0 40px;
    font-size: 2.4rem;
    font-weight: bold;
}


.profile-wrapper{
    width: 560px;
    margin: auto;
}

/*COURSE */






.section-news-title {
    margin-top: 24px;
    padding-bottom: 64px;
    background-color: #eee;
    color: yellow;
    text-align: center;
}

.section-news-title-en {
    margin-top: 24px;
    color: #222;
}



.section-news-list {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: auto;



    /*
    margin-left:auto;
    margin-right:auto;
    */
    background: #f00;
}

.section-news-list__item {
    width: 364px;
}
.news-heading{
    color: #ffd61a;
    font-weight: bold;
    text-align: center;
    margin-bottom:  24px ;
}

.news-subtitle{
    margin-bottom:  16px ;
    background:#ecdb8e;
    text-align: center;
}

.news-text{
    background:#ec8ead;
}


.news-inner{
       width: 1140px;
       margin: auto;
}


.news-list{
display: flex;
flex-wrap: wrap;
}


.news-item{
    width: 33.333%;
}

.news-button{
    width: 214px;
    background-color: #FFD61A;
    margin: auto;
    padding: 21px 0;
    color: white;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align:center;

}

    /*Acess;*/

.access{
    display: flex;
    background-color: #FAFAFA;

}

.access-inner{
    width: 114px;
    margin: auto;
}
.access-heading{

    font-weight: bold;
    text-align: center;
    margin-bottom:  24px ;
}
    /*contact;*/

    .contact{
        display: flex;
        background-color: #FAFAFA;
    
    }

    .contact-inner{
        width: 1140 px;
        margin: auto;
    }
    .contact-heading{

        font-weight: bold;
        text-align: center;
        margin-bottom:  24px ;
    }

.form{
    display: flex;
    background-color: #707070;
    width: 550 px;
}


    .footer{
        display: flex;
        background-color: #707070;
        width: 550 px;
    }